html, body {
    width: 960px;
    margin: auto;
    font: normal normal normal 18px/1.6em 'Ubuntu', sans-serif;
    position: relative;
}

/* default style */
h1 { font-size: 2em; margin: .67em 0 }
h2 { font-size: 1.5em; margin: .75em 0 }
h3 { font-size: 1.17em; margin: .83em 0 }
h5 { font-size: .83em; margin: 1.5em 0 }
h6 { font-size: .75em; margin: 1.67em 0 }
h1, h2, h3, h4, h5, h6 { font-weight: bold }

.name {
    font-size: 3.5em;
    margin: 1.2em 0;
}

.title {
    font-size: 2.5em;
    margin: 1.8em auto;
}

h2:before {
    content: "#";
    margin-left: -28px;
    margin-right: 10px;
    color: #ADEBAD;
}

aside {
    font-size: small;
    right: 0;
    position: absolute;
    width: 180px;
}

.fa-2 {
    font-size: 2em;
}

dl {
    margin-left: 20px;
    line-height: 1.8em;
}

dl > dt {
    font-weight: bold;
}

dl dd {
    margin-left: 40px;
}

ul,ol {
    display: block;
    margin: 1em;
    padding-left: 20px;
}

.profile ul {
    list-style-type: none;
}

.profile img {
    padding: 5px;
    border: 1px solid lightgreen;
}

.profile td table{
    margin-left: 10px;
    font-style: italic;
}

.profile td table > tbody td:first-child {
    text-align: center;
    padding: 5px 15px 5px 5px;
}

.timeline {
    overflow: hidden;
}

.timeline .tl-block {
    overflow: hidden;
    margin: 30px auto;
    clear: both;
}

.timeline .tl-block:first-child {
    margin-top: auto;
}

.timeline .tl-block:last-child {
    margin-bottom: auto;
}

.timeline .tl-dt, .timeline .tl-img, .timeline .tl-content {
    float: left;
}

.timeline .tl-dt {
    margin: 20px 20px auto auto;
}

.timeline .tl-img {
    margin: 10px auto;
}

.timeline .tl-img img {
    height: 60px;
    width: 60px;
    padding: 10px;
    vertical-align: middle
    -moz-border-radius: 15px;
    border-radius: 15px;
    border: 1px solid green;
}

.timeline .tl-content {
    margin: auto auto auto 20px;
}

.tag {
    margin-left: 10px;
}

.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.label-info {
    background-color: #5bc0de;
}

a {
    color: green;
}
