<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/style.css">

    <title>G</title>
  </head>
  <body>
    <div class="container">
      <div style="padding-top: 30vh"></div>
      <div class="text-center align-text-middle">
        <h1>Hello, World!</h1>
        <a href="https://scholar.google.com/citations?user=drakdQsAAAAJ&hl=en">research</a> | <a href="https://github.com/gongzhitaao">code</a> | <a href="anime">anime</a> | <a href="book">book</a>
      </div>
    </div>
  </body>
</html>
