@import url(http://fonts.googleapis.com/css?family=Play:400,700&subset=latin,greek);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif:700,700italic);

html {
    font: normal normal normal 16px/2em 'Play';
    color: #444
}

a {
    color: #527d9a;
    text-decoration: none;
}

a:hover {
    color: #003355;
    border-bottom: 1px dotted;
}

.proj {
    padding-top: 30px;
}

.proj h4 {
    margin-bottom: -20px;
}

.helloworld-img {
    width: 300px;
    margin: auto;
}

.helloworld-txt {
    width: 400px;
    margin: auto;
}

.container {
    max-width: 420px;
    margin: 1% auto;
}

.head {
    overflow: hidden;
}

.nav-home {
    font-size: 26px;
    font-weight: bold;
    width: 180px;
    margin: auto;
}

.nav-home a:before {
    content: "#";
}

.nav-link {
    width: 240px;
    margin: auto;
}

.nav-link a {
    display: inline-block;
    margin-left: 10px;
}

.nav-link a:before {
    content: "/";
}

@media (min-width: 720px) {

    html {
        font-size: 20px;
        line-height: 1.6em;
    }

    .helloworld {
        max-width: 720px;
        margin: auto;
        overflow: hidden;
    }

    .helloworld-img {
        float: left;
    }

    .helloworld-txt {
        float: left;
        margin-left: 20px;
    }

    .container {
        max-width: 720px;
    }

    .nav-home {
        float: left;
        width: auto;
    }

    .nav-link {
        float: right;
        width: auto;
    }

    .nav-link a {
        margin-left: 20px;
    }
}

@media (min-width: 720px) and (min-height: 400px) {
    .helloworld {
        padding-top: 10%;
    }
}
